/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Dm-sans */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 30px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#principal {
    width: 600px;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 60px;
}

.img-preview {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 1px rgba(117, 117, 117, 0.2) solid;
    border-radius: 2%;
}

.img-preview>img{
    width: 100%;
    height: 100%;
}

/* ---------------------- */



.confiabilidade p {
    display: inline-block;
}

.progressbar-back {
    display: inline-block;
    width: 30%;
    background-color: #98b3b8;
    height: 10px;
    border-radius: 3px;
    overflow: hidden;
}
.progressbar-color {
    transition: 1.2s ease-in-out;
    width: 0%;
    background-color: #96d6da;
    height: 10px;
}


/* ------------------------ */

.dropdown>button>svg {
    height: 25px;
}

.btn-produto {
    position: absolute;
    top: 20px;
    left: 20px;
}
