main {

    width: 70%;
    display: flex;
    margin: 60px auto;
    justify-content: space-evenly;
    background-color: #dbe5da;
    border: 1px rgba(182, 182, 182, 0.205) solid;
    border-radius: 6px;
    padding: 60px;
    position: relative;
}

main>section {

    width: 500px;
    
    overflow: hidden;
}

section>img {
    width: 500px;
    height: 500px;
}

main>.imagem {
    background-image: url("https://http2.mlstatic.com/D_NQ_NP_851120-MLB70085510807_062023-O.webp");

    border: 0px black solid;
}

section h1 {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2.6em;
}

section p {
    font-weight: 400;
    font-size: 1.5em;
}

section span {
    font-weight: 500;
    font-size: 1.2em;
}

span>b {
    font-weight: 700;
    color: #4b4848;
}

/* ---------------------- */



.confiabilidade p {
    display: inline-block;
}

.progressbar-back {
    display: inline-block;
    width: 30%;
    background-color: #98b3b8;
    height: 10px;
    border-radius: 3px;
    overflow: hidden;
}
.progressbar-color {
    transition: 1.2s ease-in-out;
    width: 0%;
    background-color: #96d6da;
    height: 10px;
}


/* ------------------------ */

.dropdown>button>svg {
    height: 25px;
}

.btn-produto {
    position: absolute;
    top: 20px;
    left: 20px;
}