@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {

    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
}

.cabecalho {
    background-color: #ff8b38;
    padding: 2vh;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
}

.login {
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;

}

.alinha-busca {
    display: flex;
    align-items: center;
}

.btn-sair>a{
    transition: .1s ease-out;
}

.btn-sair>a:hover {
    background-color: rgb(255, 32, 32) !important;
}