.metodo-pagamento {
    background-color: #f1f1f1;
    width: 50%;
    
    margin: 30px auto;
    padding: 40px 0px;
    text-align: center;
}

.pagamento {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: left;
}

.form-cartao{
    display: none;
    /* height: 0; */
    transition: .5s;
    transform: translateY(400px) scale(0);
    gap: 10px;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.full-input {
    grid-column-start: 1;
    grid-column-end: 3;
}

.visivel {
    display: grid;
    transform: translateY(0) scale(100%);
    /* height: fit-content; */
}

.form-cartao input[type="text"] {
    outline: none;
}